// Variables

$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$testimonial-bg: hsl(219, 30%, 18%);
$intro-bg: hsl(217, 28%, 15%);
$signup-bg: hsl(217, 28%, 15%);
$white: hsl(0, 0%, 100%);
$btn-bg: linear-gradient(
   to right,
   hsl(176, 68%, 64%),
   hsl(176, 68%, 64%),
   hsl(198, 60%, 50%)
);

// Import fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700");

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: $main-bg;
   color: $white;
   font-family: "Open Sans", sans-serif;
}

h2,
h3 {
   font-family: "Raleway", sans-serif;
}

p {
   line-height: 30px;
}

.container {
   padding: 70px 20px;
}

// CTA button styles
.btn {
   background: $btn-bg;
   padding: 15px 60px;
   color: $white;
   border: none;
   border-radius: 30px;
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   font-weight: 600;
}

//Navigation
.nav {
   display: flex;
   justify-content: space-between;
   font-family: "Raleway", sans-serif;
   .logo {
      display: block;
      width: 25%;
      height: 10%;
      flex-basis: 25%;
   }
   .links {
      align-self: center;
      .link {
         color: $white;
         text-decoration: none;
         font-size: 14px;
         margin-right: 15px;
         &:last-of-type {
            margin-right: 0;
         }
      }
   }
}

// Intro section
.intro {
   background-color: $intro-bg;
   &.container {
      padding-top: 30px;
   }
   .illustration {
      width: 90%;
      margin: 40px auto 0;
      display: block;
      position: relative;
      z-index: 2;
   }
}

// About section

.curve {
   margin-top: -100px;
   background-color: $intro-bg;
   img {
      width: 100%;
      height: 100%;
   }
   .bg-curvy-mobile {
      display: block;
   }
   .bg-curvy-desktop {
      display: none;
   }
}

.about {
   text-align: center;
   margin-top: -100px;
   &.container {
      padding-top: 0;
   }

   h2 {
      line-height: 32px;
   }
   p {
      padding: 0 20px;
   }
}

//Services section
.services {
   text-align: center;
   .service {
      margin-bottom: 70px;
      line-height: 25px;
   }
}

//Extra section
.extra {
   .illustration {
      display: block;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 50px;
   }
   h3 {
      text-align: center;
   }
   .cto {
      color: hsl(198, 60%, 50%);
      padding-bottom: 5px;
      text-decoration: none;
      border-bottom: 1px solid hsl(198, 60%, 50%);
      .arrow {
         vertical-align: middle;
         margin-left: 5px;
      }
   }
}

// Testimonials section
.testimonials {
   background-color: $main-bg;
   &.container {
      padding: 70px 30px;
   }
   .quotes {
      width: 20px;
   }
   .testimonial {
      background-color: $testimonial-bg;
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 5px;
      .details {
         display: flex;
         .img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
         }
         span {
            display: block;
            font-size: 14px;
            &:first-of-type {
               font-weight: bold;
            }
         }
      }
   }
}

// Signup section
.signup {
   display: block;
   text-align: center;
   position: relative;
   background-color: $intro-bg;
   width: 80%;
   margin: auto;
   margin-bottom: -230px;
   z-index: 3;
   border-radius: 10px;

   input {
      padding: 15px 20px;
      border: none;
      border-radius: 30px;
      font-family: "Raleway", sans-serif;
      width: 80%;
   }
   .btn {
      margin-top: 30px;
   }
}

//Footer
footer {
   background-color: $footer-bg;
   padding-top: 300px !important;
   & > div {
      margin-bottom: 50px;
   }

   .link {
      color: $white;
      text-decoration: none;
   }

   .info {
      margin-bottom: 20px;
      .logo {
         display: block;
         margin-bottom: 20px;
      }
      .details {
         display: flex;
         img {
            height: 20px;
            margin-right: 20px;
         }
         span {
            display: block;
            text-align: left;
         }
      }
   }

   .contact {
      margin-bottom: 70px;
      .phone {
         margin-bottom: 20px;
      }
      .phone,
      .email {
         img {
            margin-right: 20px;
            vertical-align: middle;
         }
      }
   }

   .links1,
   .links2 {
      a {
         display: block;
         margin-bottom: 20px;
      }
   }

   .social {
      text-align: center;
      i {
         border: 1px solid $white;
         border-radius: 50%;
         padding: 10px;
         margin-right: 10px;
         &:last-of-type {
            margin-right: 0;
         }
      }
      .fa-facebook-f {
         padding: 10px 13px;
      }
   }
}

// Styles for tablets
@media screen and (min-width: 768px) {
   body {
      font-size: 16px;
   }

   .container {
      padding: 70px 50px;
   }

   .btn {
      font-size: 16px;
   }

   .nav {
      .logo {
         flex-basis: 15%;
      }
   }

   .testimonials {
      &.container {
         padding: 70px;
      }
   }
}

// Styles for bigger tablets
@media screen and (min-width: 1024px) {
   .intro {
      .illustration {
         margin: 40px auto;
      }
   }

   .curve {
      margin-top: -5px;
   }

   .about {
      margin-top: -520px;
      &.container {
         padding: 70px 200px;
      }
      h2 {
         margin-bottom: 30px;
      }
      p {
         padding: 0 80px;
      }
   }

   .services {
      &.container {
         padding: 70px 150px;
      }
   }
}

// Styles for bigger screens (laptops, desktops)
@media screen and (min-width: 1200px) {
   body {
      font-size: 14px;
   }
   .container {
      padding: 70px 100px;
   }

   .nav {
      display: flex;
      justify-content: space-between;
      font-family: "Raleway", sans-serif;
      .logo {
         width: 10%;
         height: 5%;
         flex-basis: 10%;
      }
      .links {
         .link {
            font-size: 16px;
            margin-right: 25px;
         }
      }
   }

   .intro {
      .illustration {
         width: 60%;
      }
   }

   .curve {
      .bg-curvy-mobile {
         display: none;
      }
      .bg-curvy-desktop {
         display: block;
      }
   }

   .about {
      margin-top: -570px;
      &.container {
         padding: 70px 350px;
      }
      h2 {
         font-size: 32px;
         line-height: 50px;
      }
   }

   .services {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      &.container {
         padding: 70px 150px;
      }
      .service {
         margin-bottom: 0;
         &:nth-of-type(2) {
            margin-top: -10px;
         }
         p {
            padding: 0 80px;
            margin: 0;
         }
      }
   }

   .extra {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-columns: 60% 40%;

      .illustration {
         width: 80%;
         margin: 0;
      }
      .body {
         align-self: center;
         h3 {
            text-align: left;
            padding-right: 30px;
            font-size: 32px;
         }
      }
   }

   .testimonials {
      &.container {
         padding: 70px 100px;
      }
      .quotes {
         width: 80px;
         margin-bottom: -20px;
         margin-left: -20px;
      }
      .group {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-column-gap: 20px;
      }
   }

   .signup {
      width: 50%;
      margin-bottom: -150px;
      .form {
         display: grid;
         grid-template-columns: 70% 30%;
         margin-top: 20px;
         .btn {
            padding: 10px;
            margin-top: 0;
            font-size: 14px;
         }
      }
   }

   footer {
      display: grid;
      grid-template-columns: 30% 20% repeat(3, auto);
      grid-column-gap: 60px;

      & > div {
         margin-bottom: 0;
      }

      & > div:not(:first-child) {
         margin-top: 70px;
      }

      .info,
      .contact {
         margin-bottom: 0;
      }
   }
}

@media screen and (min-width: 1500px) {
   .container {
      padding: 70px 300px;
   }
}
